In [29]:
import pandas as pd
zomato_df = pd.read_csv("../data/zomato.csv", encoding='latin-1')
country_df = pd.read_csv("../data/Country-Code.csv")

zomato_df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [30]:
df = zomato_df.merge(country_df, how='left', on='Country Code')
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Yes,No,No,No,4,4.4,Green,Very Good,270,Phillipines
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,No,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Yes,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines

In [31]:
columns_to_drop = ['Address', 'Locality', 'Locality Verbose',
                'Switch to order menu', 'Currency', 'Rating color', 'Rating text']
df.drop(columns=columns_to_drop, inplace=True)

In [32]:
print(df.columns.tolist())

['    Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two', 'Has Table booking', 'Has Online delivery', 'Is delivering now', 'Price range', 'Aggregate rating', 'Votes', 'Country']

In [33]:
df['Cuisines'] = df['Cuisines'].str.lower().str.strip()

In [34]:
df.duplicated().sum()

0

In [35]:
df.isna().sum()

    Restaurant ID       0
Restaurant Name         0
Country Code            0
City                    0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Price range             0
Aggregate rating        0
Votes                   0
Country                 0
dtype: int64

In [36]:
df.dropna(inplace=True)
df.isna().sum()

    Restaurant ID       0
Restaurant Name         0
Country Code            0
City                    0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Price range             0
Aggregate rating        0
Votes                   0
Country                 0
dtype: int64

In [37]:
print(df['Average Cost for two'].describe())

count      9542.000000
mean       1200.326137
std       16128.743876
min           0.000000
25%         250.000000
50%         400.000000
75%         700.000000
max      800000.000000
Name: Average Cost for two, dtype: float64

In [38]:
q1 = df['Average Cost for two'].quantile(0.25)
q3 = df['Average Cost for two'].quantile(0.75)

iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

df = df[
    (df['Average Cost for two'] >= lower_bound) &
    (df['Average Cost for two'] <= upper_bound)
]

print(df['Average Cost for two'].describe())

count    8689.000000
mean      438.291173
std       281.868263
min         0.000000
25%       250.000000
50%       400.000000
75%       600.000000
max      1350.000000
Name: Average Cost for two, dtype: float64

In [39]:
df = df[df['Average Cost for two'] > 0]

###### | Low    | 0 – 250    |
###### | Medium | 251 – 600  |
###### | High   | 601 – 1350 |

In [40]:
def cost_category(cost):
    if cost <= 250:
        return 'Low'
    elif cost <= 600:
        return 'Medium'
    else:
        return 'High'

df['Cost Category'] = df['Average Cost for two'].apply(cost_category)

In [41]:
df.to_csv("../data/clean_df.csv", index=False)

In [43]:
clean_df = pd.read_csv("../data/clean_df.csv")
clean_df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Votes,Country,Cost Category
0,6317637,Le Petit Souffle,162,Makati City,121.027535,14.565443,"french, japanese, desserts",1100,Yes,No,No,3,4.8,314,Phillipines,High
1,6304287,Izakaya Kikufuji,162,Makati City,121.014101,14.553708,japanese,1200,Yes,No,No,3,4.5,591,Phillipines,High
2,18189371,Din Tai Fung,162,Mandaluyong City,121.056314,14.583764,chinese,1000,No,No,No,3,4.4,336,Phillipines,High
3,6314987,Locavore,162,Pasig City,121.056532,14.572041,filipino,1100,Yes,No,No,3,4.8,532,Phillipines,High
4,6309903,Silantro Fil-Mex,162,Pasig City,121.057916,14.567689,"filipino, mexican",800,No,No,No,3,4.9,1070,Phillipines,High